.order_box {
	width:200px;
	height:300px;
	margin:60px 20px 10px 20px;
	border-radius:8px;
	border:2px solid #6f8572;
	display:inline-block;
}
.o_image {
	width:200px;
	height:220px;
	background-size:auto 170px;
	background-repeat:no-repeat;
	background-position:center;
}
.o_name {
	font-size:16px;
	font-family:SuperstarM54;
	text-align:center;
	line-height:40px;
	color:#333;
}
.o_price {
	float:right;
	width:130px;
	height:130px;
	line-height:130px;
	text-align:center;
	font-family:RobotoMedium;
	font-size:18px;
	color:#FFF;
	background:url(price.png) center no-repeat;
	background-size:130px auto;
	margin-right:-50px;
	margin-top:-50px;
	transform:rotate(35deg);
	z-index:-1;
}
.o_qty {
	width:150px;
	border:1px solid #6f8572;
	border-radius:4px;
	padding:4px;
}
.shop {
	padding-left:0px !important;
}