@keyframes s_1 {
	0% {width:700px;}
	32% {width:700px;}
	33% {width:0px;}
	65% {width:0px;}
	66% {width:0px;}
	99% {width:0px;}
	100% {width:700px;}
}
@keyframes s_2 {
	0% {width:0px;}
	32% {width:0px;}
	33% {width:700px;}
	65% {width:700px;}
	66% {width:0px;}
	99% {width:0px;}
	100% {width:0px;}
}
@keyframes s_3 {
	0% {width:0px;}
	32% {width:0px;}
	33% {width:0px;}
	65% {width:0px;}
	66% {width:700px;}
	99% {width:700px;}
	100% {width:0px;}
}
.slide_box {
	margin:45px;
	width:980px;
	height:400px;
	display:inline-block;
}
.slide_box_in {
	width:700px;
	height:400px;
	box-shadow:0px 0px 15px rgba(0,0,0,0.2);
	float:left;
	margin-right:15px;
}
.slide {
	height:400px;
	background-size:700px auto;
	background-repeat:no-repeat;
	background-position:center;
	float:left;
	animation-duration:12s;
	animation-iteration-count:infinite;
}
.s_1 {
	width:700px;
	background-image:url(1.jpg);
	animation-name:s_1;
}
.s_2 {
	width:0px;
	background-image:url(2.jpg);
	animation-name:s_2;
}
.s_3 {
	width:0px;
	background-image:url(3.jpg);
	animation-name:s_3;
}